*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  background: #007bff;
}

h1{
  color: #fff;
  text-align:  center;
}

.formr{
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background: white;
  border-radius: 7px;
}

.formr-titulo{
  background: #ffc107;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 5px solid crimson;
}

.contenedor inputs{
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border-radius: 1px solid darkgray;
}

.input-50 {
  width: 40%;
}

.input-100{
  width: 40%;
}

.btn-enviar{
background: #ffc107;
color: #FFF;
margin: auto;
padding: 10px 40px;
}
