html{
    height: 100%;
    box-sizing: border-box;

}
*,*:before,*:after{

    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;

}
body{

    font-family: arial,helvetica,sans-serif;


}
header{
    text-align: center;
    padding: 20px 0;

}

#carouselExampleIndicators{
  width: 90%;
  margin: auto;

}

.contenedor{
    margin  auto;
    width: 95%;
}

h2{

    text-align: center;

    margin  100px 0;
}
ul.Lista-productos{

    list-style: none;
    margin: 0;
    padding: 0;
}

ul.Lista-productos li{

    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
}


ul.Lista-productos li:nth-child(2n+1){
clear: both;

}

ul.Lista-productos li img{
    background-color: aqua;

    border: 10px solid rgba(128,1,195,.45);

}
ul.Lista-productos li img:hover{
     border: 10px solid rgba(128,1,195,3);
}
ul.Lista-productos li p{
    font-size: 28px;
    font-weight: bold;
        margin-top: 10px;

}
ul.Lista-productos li p span{
    font-size: 40px;
    color: currentColor;
}

.boton{

    background-color: #ffce00;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;

}



.card-body {
  background: blue;
}
